body {  
  padding-top: 50px; /* pad content that the fixed navbar overlaps */
  padding-bottom: 40px;
  color: #5a5a5a;
}

@media screen and (max-width: 979px) {
  body { 
    /* on tablets and phone, don't add extra padding since navbar will be static instead of fixed
    i.e. there isn't overlapping content to pad */
    padding-top: 0px; 
  }

  .navbar {
    margin-bottom: 0px;
  }
}

#flash-info, #flash-success, #flash-warn, #flash-error {
  /* get rid of margin below alerts so we can put them above our fixed nav without whitespace between
  the alert message and the navbar */
  margin-bottom: 0px; 
}

.thin-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}